[submodule "domain366/Apps12"]
	path = domain366/Apps12
	url = git@github.com:domain366/Apps12.git
	branch = master

[submodule "domain366/Apps22"]
	path = domain366/Apps22
	url = git@github.com:domain366/Apps22.git
	branch = master
