[submodule "domain366/Apps12"]
	path = domain366/Apps12
	url = git@github.com:domain366/Apps12.git
	branch = master

[submodule "domain366/Apps22"]
	path = domain366/Apps22
	url = git@github.com:domain366/Apps22.git
	branch = master

[submodule "domain366/app2"]
	path = domain366/app2
	url = git@github.com:domain366/app2.git
	branch = master

[submodule "domain366/Apps12Mod"]
	path = domain366/Apps12Mod
	url = git@github.com:domain366/Apps12Mod.git
	branch = master

[submodule "GentecAustralia/App12Mod-2"]
	path = GentecAustralia/App12Mod-2
	url = git@github.com:GentecAustralia/App12Mod-2.git
	branch = master
